In [22]:
# import the libraries we will use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# read data
df = pd.read_csv('/Users/mohsenbahremani/Myfiles/Previous HD/Data/Bdata.csv' ,encoding = 'unicode_escape',sep=';')
df.head()

,id,safra_abertura,cidade,estado,idade,sexo,limite_total,limite_disp,data,valor,grupo_estabelecimento,cidade_estabelecimento,pais_estabelecimento
0,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5605,4.12.2019,31,SERVI축O,SAO PAULO,BR
1,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5343,9.11.2019,"150,01",FARMACIAS,SANTOS,BR
2,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2829,6.05.2019,50,SERVI축O,SAO PAULO,BR
3,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2547,1.06.2019,"54,4",M.O.T.O.,OSASCO,BR
4,"4,53E+11",201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2515,1.06.2019,"32,79",M.O.T.O.,OSASCO,BR

In [24]:
df.columns = ['id','branch_number','city','state','age','gender','total_credit_card_limit','current_available_limit' ,'date','amount','category_expense','purchase_city','purchase_country']
df.date = pd.to_datetime(df.date,dayfirst=True)

In [25]:
# I create a dataframe as customers with old and new customer names

customers = pd.DataFrame(df.id.unique())
customers.columns = ['old_customer_name']
new_list = list(range(1, len(customers)+1))
customers['new_customer_name'] = new_list
# I am changing id to understand customers more easily

df["id"].replace(customers['old_customer_name'].values,customers['new_customer_name'].values, inplace=True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4955 entries, 0 to 4954
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4955 non-null   int64
 1   branch_number            4955 non-null   int64
 2   city                     4955 non-null   object
 3   state                    4955 non-null   object
 4   age                      4955 non-null   int64
 5   gender                   4955 non-null   object
 6   total_credit_card_limit  4955 non-null   int64
 7   current_available_limit  4955 non-null   int64
 8   date                     4955 non-null   datetime64[ns]
 9   amount                   4955 non-null   object
 10  category_expense         4955 non-null   object
 11  purchase_city            4936 non-null   object
 12  purchase_country         4937 non-null   object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 503.4+ KB

In [27]:
# we need to float the type of amount variable
for i in range(0,len(df.amount)):
    df.amount[i] = df.amount[i].replace('.','').replace(',','.')

#I export values containing '-' in the amount variable as df_amount_nan
df_amount_nan = df[df.amount == ' -   ']

# There are '-' values in the amount column. I am deleting theese rows because we can't convert it to the float type with these values
df = df[df.amount != ' -   ']

# Now the amount variable is ready to convert to float type.
df.amount = df.amount.astype(float)

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/4058114249.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/4058114249.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
# I am converting the date variable to date_time format
df.date = pd.to_datetime(df.date,dayfirst=True)

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/2380409744.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
# I convert the gender variable to dummy_variable
#dms = pd.get_dummies(df['gender'])
#df = pd.concat([df,dms],axis=1)
#df.drop(['gender', 'M'], axis=1,inplace=True)
#df.rename(columns={'F': 'Female'}, inplace=True)
#df

,id,branch_number,city,state,age,total_credit_card_limit,current_available_limit,date,amount,category_expense,purchase_city,purchase_country,Female
0,1,201405,CAMPO LIMPO PAULISTA,SP,37,4700,5605,2019-12-04,31.00,SERVI축O,SAO PAULO,BR,1
1,1,201405,CAMPO LIMPO PAULISTA,SP,37,4700,5343,2019-11-09,150.01,FARMACIAS,SANTOS,BR,1
2,1,201405,CAMPO LIMPO PAULISTA,SP,37,4700,2829,2019-05-06,50.00,SERVI축O,SAO PAULO,BR,1
3,1,201405,CAMPO LIMPO PAULISTA,SP,37,4700,2547,2019-06-01,54.40,M.O.T.O.,OSASCO,BR,1
4,1,201405,CAMPO LIMPO PAULISTA,SP,37,4700,2515,2019-06-01,32.79,M.O.T.O.,OSASCO,BR,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4950,23,201910,SAO PAULO,SP,37,8500,5305,2020-01-23,25.50,RESTAURANTE,SAO PAULO,BR,0
4951,23,201910,SAO PAULO,SP,37,8500,5266,2020-01-23,39.50,SUPERMERCADOS,SAO PAULO,BR,0
4952,23,201910,SAO PAULO,SP,37,8500,5445,2020-02-19,75.56,RESTAURANTE,SAO PAULO,BR,0
4953,23,201910,SAO PAULO,SP,37,8500,5002,2020-03-30,5.90,SERVI축O,SAO PAULO,BR,0
4954,23,201910,SAO PAULO,SP,37,8500,5222,2020-01-24,43.69,M.O.T.O.,RIO DE JANEIR,BR,0

In [29]:
df["category_expense"].replace({
                                "SERVI축O" : "any services",
                                "FARMACIAS" : "drugstores",
                                "M.O.T.O." : "online purchases" ,
                                "ARTIGOS ELETRO" : "electronics",
                                "VAREJO" : "convenience store" ,
                                "LOJA DE DEPART" : "department store",
                                "VESTUARIO" : 'clothing',
                                "HOSP E CLINICA" : "hospital",
                                "SEM RAMO" : "not other expenses",
                                "INEXISTENTE" : "not other expenses",
                                "SUPERMERCADOS" : "supermarket" ,
                                "MAT CONSTRUCAO": "construction material",
                                "POSTO DE GAS" : "gas station",
                                "RESTAURANTE" : "restaurant", 
                                "CIA AEREAS" : "airlines",
                                "MOVEIS E DECOR" : "furniture",
                                "JOALHERIA" : "jewelry" ,
                                "TRANS FINANC" : "financial transfers",
                                "AGENCIA DE TUR" : "tourism agency",
                                "HOTEIS" : "hotels",
                                "ALUG DE CARROS": "car rental",
                                'AUTO PE\x82AS': "car rental"}, inplace=True)

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/400977361.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
df['month_year'] = df['date'].dt.to_period('M')
df['month_year'] =df['month_year'].dt.year*100 + df['month_year'].dt.month
column_values = df["month_year"].values.ravel()
unique_values =  pd.unique(column_values)

np.sort(unique_values)

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/2837170898.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/2837170898.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array([201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911,
       201912, 202001, 202002, 202003, 202004, 202005])

In [31]:
df.head()

,id,branch_number,city,state,age,gender,total_credit_card_limit,current_available_limit,date,amount,category_expense,purchase_city,purchase_country,month_year
0,1,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5605,2019-12-04,31.00,any services,SAO PAULO,BR,201912
1,1,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,5343,2019-11-09,150.01,drugstores,SANTOS,BR,201911
2,1,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2829,2019-05-06,50.00,any services,SAO PAULO,BR,201905
3,1,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2547,2019-06-01,54.40,online purchases,OSASCO,BR,201906
4,1,201405,CAMPO LIMPO PAULISTA,SP,37,F,4700,2515,2019-06-01,32.79,online purchases,OSASCO,BR,201906

In [32]:
dfg=df.groupby(['category_expense','city',"age","month_year"],as_index=False)['amount'].sum()
dfg

     category_expense                    city  age  month_year   amount
0            airlines  GUARULHOS                44      201912   759.50
1            airlines  GUARULHOS                44      202001   984.61
2            airlines  LOUVEIRA                 43      201905   560.50
3            airlines  LOUVEIRA                 43      201906  1584.78
4            airlines  LOUVEIRA                 43      201908   690.96
...               ...                     ...  ...         ...      ...
1352   tourism agency  SAO PAULO                28      201912  2694.36
1353   tourism agency  SAO PAULO                28      202001   340.00
1354   tourism agency  SAO PAULO                31      202001  3087.00
1355   tourism agency  SAO PAULO                32      202002  3800.00
1356   tourism agency  SAO PAULO                37      202003    42.00

[1357 rows x 5 columns]

In [15]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

In [16]:

import pandas as pd

dfg=df.groupby(['category_expense',"age","month_year"],as_index=False)['amount'].sum()

dfg["month_year"].replace({
                                201904: 1,
                                201905: 2,
                                201906: 3,
                                201907: 4,
                                201908: 5,
                                201909: 6,
                                201910: 7,
                                201911: 8,
                                201912: 9,
                                202001: 10,
                                202002: 11,
                                202003: 12,
                                202004: 13,
                                202005: 14}, inplace=True)



app = dash.Dash()


app.layout = html.Div([
    dcc.Graph(id='graph-with-slider'),
    dcc.Slider(
        id='year-slider',
        min=dfg["month_year"].min(),
        max=dfg["month_year"].max(),
        step=None,
        value=dfg["month_year"].min(),
        #marks={str(year): str(year) for year in dfg["month_year"].unique()}
        marks={
                    1: {'label': '201904'},
                    2: {'label': '201905'},
                    3: {'label': '201906'},
                    4: {'label': '201907'},
                    5: {'label': '201908'},
                    6: {'label': '201909'},
                    7: {'label': '201910'},
                    8: {'label': '201911'},
                    9: {'label': '201912'},
                    10: {'label': '202001'},
                    11: {'label': '202002'},
                    12: {'label': '202003'},
                    13: {'label': '202004'},
                    14: {'label': '202005'}
                },
    
    )
]  #,  style={'width': '50%','padding-left':'50%', 'padding-right':'50%'}
)

@app.callback(
    Output('graph-with-slider', 'figure'),
    [Input('year-slider', 'value')])
def update_figure(selected_year):
    filtered_df = dfg[dfg.month_year == selected_year]

    fig = px.scatter(filtered_df, x="amount", y="age", 
                      color="category_expense", 
                     log_x=False)

    fig.update_layout(transition_duration=500)

    return fig

In [17]:
if __name__ == '__main__': app.run_server(host='127.0.0.1', port='8050', debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2022 22:05:07] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_renderer/react@16.v1_1_2m1576595738.8.6.min.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_renderer/react-dom@16.v1_1_2m1576595738.8.6.min.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_renderer/prop-types@15.v1_1_2m1576595738.7.2.min.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_html_components/dash_html_components.v1_0_1m1576596177.min.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_core_components/highlight.v1_3_1m1576595950.pack.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_renderer/dash_renderer.v1_1_2m1576595738.min.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_core_components/dash_core_components.v1_3_1m1576595950.min.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:07] "GET /_dash-component-suites/dash_core_components/plotly-1.v1_3_1m1576595950.50.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:08] "GET /_favicon.ico?v=1.19.0 HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:09] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:09] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:05:10] "POST /_dash-update-component HTTP/1.1" 200 -

In [18]:
essential_list = ['drugstores','convenience store','hospital','supermarket','gas station','financial transfers']
#df.head()
df[~df.category_expense.isin(essential_list)]["category_expense"].value_counts()

any services             1781
restaurant                871
clothing                  236
online purchases          191
electronics               129
department store           80
airlines                   38
not other expenses         24
hotels                     24
furniture                  15
construction material      15
car rental                 15
tourism agency             12
jewelry                     6
Name: category_expense, dtype: int64

In [34]:
df["essential_expense"]=df["category_expense"]
df["essential_expense"].replace({
                                 "any services":'non_essential',
                                "drugstores":'essential',
                                 "online purchases":'non_essential' ,
                                 "electronics":'non_essential',
                                 "convenience store":'essential' ,
                                 "department store":'non_essential',
                                'clothing':'non_essential',
                                 "hospital":'essential',
                                 "not other expenses":'non_essential',
                                
                                 "supermarket" :'essential',
                                 "construction material":'non_essential',
                                 "gas station":'essential',
                               "restaurant":'non_essential', 
                                 "airlines":'non_essential',
                                "furniture":'non_essential',
                                 "jewelry" :'non_essential',
                                 "financial transfers":'essential',
                                 "tourism agency":'non_essential',
                                 "hotels":'non_essential',

                                 "car rental":'non_essential'}, inplace=True)

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/1821343124.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/qx/bl7lfgd95nv5l72lrc8lqfb40000gp/T/ipykernel_7363/1821343124.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

import pandas as pd

dfg=df.groupby(["age","month_year","essential_expense","total_credit_card_limit"],as_index=False)['amount'].sum()

dfg["month_year"].replace({
                                201904: 1,
                                201905: 2,
                                201906: 3,
                                201907: 4,
                                201908: 5,
                                201909: 6,
                                201910: 7,
                                201911: 8,
                                201912: 9,
                                202001: 10,
                                202002: 11,
                                202003: 12,
                                202004: 13,
                                202005: 14}, inplace=True)

app = dash.Dash()


app.layout = html.Div([
    dcc.Graph(id='graph-with-slider'),
    dcc.Slider(
        id='year-slider',
        min=dfg["month_year"].min(),
        max=dfg["month_year"].max(),
        step=None,
        value=dfg["month_year"].min(),
        
        included=False,
        #marks={str(year): str(year) for year in dfg["month_year"].unique()}
        marks={
                    1: {'label': '201904'},
                    2: {'label': '201905'},
                    3: {'label': '201906'},
                    4: {'label': '201907'},
                    5: {'label': '201908'},
                    6: {'label': '201909'},
                    7: {'label': '201910'},
                    8: {'label': '201911'},
                    9: {'label': '201912'},
                    10: {'label': '202001'},
                    11: {'label': '202002'},
                    12: {'label': '202003'},
                    13: {'label': '202004'},
                    14: {'label': '202005'}
                },
    )
]  #,  style={'width': '50%','padding-left':'50%', 'padding-right':'50%'}
)

@app.callback(
    Output('graph-with-slider', 'figure'),
    [Input('year-slider', 'value')])
def update_figure(selected_year):
    filtered_df = dfg[dfg.month_year == selected_year]

    fig = px.scatter(filtered_df, x="amount", y="age", 
                      size="total_credit_card_limit", color="essential_expense", 
                     log_x=False)

    fig.update_layout(transition_duration=500)

    return fig

In [43]:
if __name__ == '__main__': app.run_server(host='127.0.0.1', port='8050', debug=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2022 22:16:38] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:16:39] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:16:39] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:16:40] "POST /_dash-update-component HTTP/1.1" 200 -

In [35]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

import pandas as pd

dfg=df.groupby(["age","month_year","essential_expense","total_credit_card_limit","gender"],as_index=False)['amount'].sum()

dfg["month_year"].replace({
                                201904: 1,
                                201905: 2,
                                201906: 3,
                                201907: 4,
                                201908: 5,
                                201909: 6,
                                201910: 7,
                                201911: 8,
                                201912: 9,
                                202001: 10,
                                202002: 11,
                                202003: 12,
                                202004: 13,
                                202005: 14}, inplace=True)

app = dash.Dash()

available_indicators = df['gender'].unique()

app.layout = html.Div([
    html.Div([
        html.P("How people spending their money via my 1st dashboard"),
        html.Div([
            html.P([
                    html.Label("Choose a gender"),
            dcc.Dropdown(
                id='xaxis-column',
                options= [       {'label': 'Male', 'value': 'M'},
                                {'label': 'Female', 'value': 'F'},
                            ],
                value='F'
            )])
        ],
        style={'width': '48%', 'display': 'inline-block'})
    ]),

    dcc.Graph(id='graph-with-slider'),
    html.P([
    html.Label("Time Period"),
        dcc.RangeSlider(
            id='year-slider',
            min=dfg["month_year"].min(),
            max=dfg["month_year"].max(),
            step=None,
            value=[dfg["month_year"].min(),dfg["month_year"].max()],
            included=True,
            #marks={str(year): str(year) for year in dfg["month_year"].unique()}
            marks={
                        1: {'label': '201904'},
                        2: {'label': '201905'},
                        3: {'label': '201906'},
                        4: {'label': '201907'},
                        5: {'label': '201908'},
                        6: {'label': '201909'},
                        7: {'label': '201910'},
                        8: {'label': '201911'},
                        9: {'label': '201912'},
                        10: {'label': '202001'},
                        11: {'label': '202002'},
                        12: {'label': '202003'},
                        13: {'label': '202004'},
                        14: {'label': '202005'}
                    },
        )])
]  #,  style={'width': '50%','padding-left':'50%', 'padding-right':'50%'}
)

@app.callback(
    Output('graph-with-slider', 'figure'),
    [Input('xaxis-column', 'value'),
     Input('year-slider', 'value')])
def update_figure(xaxis_column_name, selected_year):
    #filtered_df = dfg[dfg.month_year == selected_year]
    filtered_df = dfg[(dfg.month_year >= selected_year[0]) & (dfg.month_year <= selected_year[1])]
    fig = px.scatter(filtered_df, x=filtered_df[filtered_df['gender'] == xaxis_column_name]['amount'], y=filtered_df[filtered_df['gender'] == xaxis_column_name]["age"], 
                      size=filtered_df[filtered_df['gender'] == xaxis_column_name]["total_credit_card_limit"], color=filtered_df[filtered_df['gender'] == xaxis_column_name]["essential_expense"], 
                     log_x=False)

    fig.update_layout(transition_duration=500)
    fig.update_xaxes(title="Spending Amount") 

    fig.update_yaxes(title="Age")

    return fig

In [36]:
if __name__ == '__main__': app.run_server(host='127.0.0.1', port='8050', debug=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2022 22:14:05] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:14:07] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:14:07] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2022 22:14:07] "POST /_dash-update-component HTTP/1.1" 200 -